body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./restaurant.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color: rgb(255, 255, 254);
  font-size: 32px;
}
ul {
  display: flex;
  list-style: none;
  width: 30%;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: large;
  border-bottom: yellow dotted 4px;
}

main {
  width: 90vw;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

img {
  width: 50vw;
  align-self: center;
}

.description {
  width: 40vw;
  padding: 20px;
}

p {
  color: rgb(252, 206, 2);
}




a {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}
button:focus,
input:focus,
textarea:focus,
select:focus {
outline: none; }

.tabs {
display: block;
display: -webkit-flex;
display: -moz-flex;
display: flex;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #efedef;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f; }
  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f; }
  .tabs [class^="tab"] [type="radio"]:checked + div,
  .tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
  .tabs [class^="tab"] [type="radio"] + div,
  .tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
  width: 50%; }
  .tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
  .tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
  .tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
  .tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }